html
{
    font-size: 62.5%;
}

body 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.Modal
{
    width: 40vw;
    height: 50vh;
    background-color: black;
    color: wheat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}